@media only screen and (max-device-width: 1366px) {
    .parallax-container {
      background-attachment: scroll;
    }
  } 
  .wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }

.section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatez(-1px) scale (1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    background-color: cornsilk;
}

.intro::after {
    background-image: url("images/ocean-waves-from-above-1583095658ztE.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.part1::after {
    background-image: url("images/waves.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .show-on-scroll {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  } */

/* .is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  } */

#title {
    color:cornsilk;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 225px;
}

.names {
    color: cornsilk;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle1 {
    font-size: 100px;
}

.subtitle2 {
    font-size: 100px;
    color: cornsilk;
}

.text-right {
    position: absolute;
    left: 50%;
    top: 40%;
    padding: 50px;
    margin-right:40vh;
}

.text-left {
    position: absolute;
    right: 50%;
    top: 40%;
    padding: 50px;
    margin-left: 40vh;
}

iframe {
    /* height: 50vh;
    top: 35vh;
    margin-left: -100vh; */
    margin-left: -90vh;
}

.image-right {
    height: 50vh;
    top: 35vh;
    margin-right: -100vh;

}
