@media only screen and (max-device-width: 1366px) {
    .parallax-container {
      background-attachment: scroll;
    }
  } 
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
  
/* body {
    background-color:black;
} */

.section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: black;
}

.parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatez(-1px) scale (1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    background-color: cornsilk;
}

.intro::after {
    background-image: url("images/ocean-waves-from-above-1583095658ztE.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.part1::after {
    background-image: url("images/waves.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    color:cornsilk;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 225px;
}

.intro-text {
    color: cornsilk;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#journey {
    font-size: 100px;
}
